.navbar{   
    height: 70px; 
    margin-bottom: 50px; 
    background-color: rgb(245, 248, 248);   
}
.menu{
    float: right;   
}
.menu ul{
    display: flex;
    padding: 10px;  
} 
.menu a{
    text-decoration: none;
    padding-right: 20px;
}
.menu li{
    list-style: none;
    font-family: serif;
    font-weight: bold;
}
h1{
    font-family: serif;
    text-align: center;
    font-size: 35px;
}
p{
    text-align: center;
    font-size: 15px;
    font-family: 'serif';
}
.image{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 100px;
    padding-bottom: 100px;
}
.src{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.box{
    border-right: none;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.sel{
    justify-content: center;
    display: flex;
    padding-bottom: 30px;
    

}
.opt{
    background-color: rgb(249, 246, 246);
    color: rgb(69, 69, 241);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.info{
    float: left;
    padding-left: 50px;
    padding-top: 30px;
    width: 370px;
}
.sup{
    display: flex;
    padding-bottom: 30px;
}
.support{
    text-decoration: none;
}
.download{
    background-color: rgb(243, 241, 241);
    padding: 10px;
    display: flex;
    margin-bottom: 120px;

}
.down{
    text-decoration: none;
}
.wiki{
    padding-right: 10px;
}
.links{
    float: left;
    padding-left: 70px;
    display: block;
    width: 250px;
    height: 40px ;
    padding-top: 30px;

}
.links div{   
    padding: 20px;
    height: 40px;
}
.links div:hover{
    background-color: rgb(228, 228, 228);
}
.links a{
    text-decoration: none;
}
.links2{
    float: left;
    display: block;
    width: 250px;
    height: 40px ;
    padding-top: 30px;
}
.links2 div{   
    padding: 20px;
    height: 40px;
}
.links2 div:hover{
    background-color: rgb(228, 228, 228);
}
.links2 a{
    text-decoration: none;
}
.links3{
    float: right;
    display: block;
    width: 250px;
    height: 40px ;
    padding-top: 30px;
 
}
.links3 div{   
    padding: 20px;
    height: 40px;
}
.links3 div:hover{
    background-color: rgb(228, 228, 228);
}
.links3 a{
    text-decoration: none;
}
.arr{
    display: flex;
    float: right;
    padding-right: 30px;
    
}
.hr{
    padding-top: 450px;
}
.stat{
    
   padding-bottom: 10px;
}
.stat a{
    text-decoration: none;
}